// set up border-box sizing model
* { @include box-sizing(inherit); }
html, body { @include box-sizing(border-box); }


body {
  background-color: $color-background;
  color: $color-text;
  font: $font;
  padding-bottom: 100px;
}

section#main {
  @extend %container;
  @extend %collapse;
}

// FONTAWESOME

i.fa {
  margin-right: 0.3em;
}


// HEADER

header[role="primary"] {
  margin-bottom: 30px;

  span {
    @extend %container;
    @extend %reset-links;
    position: relative;
  }

  .site-name {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    padding: 20px 0 5px 0;
    text-transform: uppercase;
  }

  .site-domain {
    @extend %light;
    font-size: 20px;
    line-height: 25px;
  }

  .site-image {
    img {
      @extend %slanted;
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;
    }
  }
}



// NAVIGATION
nav[role="primary"] {
  @extend %tabs;
  line-height: 3;
  margin-bottom: 20px;

  ul {
    @extend %container;
  }
}

nav[role="pagination"] {
  li {
    display: inline;
  }
  a {
    @extend %button;
  }
}

// HEADINGS

h1, h2 {
  @extend %reset-links;
  font-size: 180%;
  margin-top: 40px;
  margin-bottom: 40px;
}


// NOTES

.note {
  @extend %note;
}
