// set up border-box sizing model
* { @include box-sizing(inherit); }
html, body { @include box-sizing(border-box); }


body {
  background-color: $color-background;
  color: $color-text;
  font: $font;

  @include on-desktop {
    padding-bottom: 100px;
  }
}

section#main {
  @extend %container;
  @extend %collapse;
}

// FONTAWESOME

i.fa {
  margin-right: 0.3em;
}


// HEADER

header[role="primary"] {
  height: 85px;
  margin-bottom: 30px;
  width: 100%;

  @include on-mobile {
    margin-bottom: 0;
  }
}

.header-container {
  @extend %container;
  max-width: 820px;
  background-color: $color-theme;
  height: 100%;
  position: relative;

  @include on-mobile {
    margin-left: 0;
    margin-right: 0;
  }
}

.header-flair {
  width: 100%;
  height: 100%;
}

.header-site-image {
  img {
    @extend %slanted-animated;
    @include border-radius(20% 0);
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 170px;
    height: 170px;
    border: 8px solid rgba(#fff, 0.9);
    @extend %box-shadow;
    z-index: 1;
  }
}

.header-site-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
}

// overrides for headers with flair
header.with-flair {
  height: 250px;

  // apply a gradient
  .header-site-info {
    $from: rgba(#000, 0);
    $to: rgba(#000, 0.4);
    @include background(linear-gradient(bottom, $to, $from 100px, $from));
  }

  @include on-mobile {
    // increase image size
    .header-site-image {
      img {
        width: 120px;
        height: 120px;
        border-width: 4px;
      }
    }

    // reduce height
    height: 140px;
  }
}

.header-site-name, .header-site-domain {
  position: absolute;
  @extend %reset-links;
  width: 100%;
  padding-right: 200px;
  padding-left: 10px;
  line-height: 1.2;
}

.header-site-name {
  bottom: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-shadow: rgba(#000, 0.25) 0px 3px 3px;
}

.header-site-domain {
  font-size: 20px;
  bottom: 10px;
  color: rgba(#fff, 0.5);
}

// FOOTER

footer[role="primary"] {
  @extend %container;
  @extend %light;
  @extend %small;
  @extend %reset-links;

  margin-top: 100px;
  border-top: 1px solid rgba($color-light, 0.5);

  a:hover { color: $color-text; }
}



// NAVIGATION
nav[role="primary"] {
  @extend %tabs;
  line-height: 3;
  margin-bottom: 20px;

  ul {
    @extend %container;
  }
}

nav[role="pagination"] {
  li {
    display: inline;
  }
  a {
    @extend %button;
  }
}


// NOTES

.note {
  @extend %note;
}
