// set up border-box sizing model
* { @include box-sizing(inherit); }
html, body { @include box-sizing(border-box); }


body {
  background-color: $color-background;
  color: $color-text;
  font: $font;

  @include on-desktop {
    padding-bottom: 100px;
  }
}

section#main {
  @extend %container;
  @extend %collapse;
}

// MISC TWEAKS

// images should never be wider than their containing element
img {
  max-width: 100%;
}



// FONTAWESOME

i.fa {
  margin-right: 0.3em;
}



// FOOTER

footer[role="primary"] {
  @extend %container;
  @extend %light;
  @extend %small;
  @extend %reset-links;

  margin-top: 100px;
  border-top: 1px solid rgba($color-light, 0.5);

  a:hover { color: $color-text; }
}



// NAVIGATION
nav[role="primary"] {
  @extend %tabs;
  line-height: 3;
  margin-bottom: 20px;

  ul {
    @extend %container;
  }
}

nav[role="pagination"] {
  li {
    display: inline;
  }
  a {
    @extend %button;
  }
}


// NOTES

.note {
  @extend %note;
}
