$color-background: #f8f8f8;
$color-text: #555;
$color-light: #999;
$color-link: #0076c9;
$color-light: #999;

$color-theme: #303f9f;
$color-focus: #ff8f00;

$color-card-background: #fff;
$color-card-border: rgba(#000, 0.1);

$font: 17px/1.4 'Roboto', sans-serif;
