$color-background: #fcfcfc;
$color-text: #555;
$color-light: #999;
$color-link: #0076c9;
$color-light: #999;

$color-theme: #666;
$color-focus: #ff8f00;

$color-card-background: #fff;
$color-card-border: rgba(#000, 0.05);

$font: 16px/1.4 'Roboto', sans-serif;
