$color-background: #fff;
$color-text: #555;
$color-light: #999;
$color-link: #0076c9;
$color-light: #999;

$color-theme: #607d8b;
$color-focus: #ff8f00;

$color-card-background: #fff;
$color-card-border: rgba(#000, 0.05);

$font: 17px/1.4 "Roboto", Helvetica, Arial, sans-serif;
