// set up font styling

form {
}

input, textarea, select, option {
  font: $font;
}

.input {
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

%form-field-styling {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  outline: none;

  background-color: #f8f8f8;
  padding: 5px 8px;
}

.field_with_errors %form-field-styling {
  border-color: red;
}

input.string, input[type="text"], input[type="email"], input[type="password"], textarea {
  @extend %form-field-styling;
  &:focus {
    border-color: $color-theme;
  }
}

input[type="submit"], button {
  @extend %button;
}

input[type="submit"] {
  @extend %button-colored;
}

fieldset {
  @extend %collapse;
  margin-bottom: 50px;
}

label {
  display: block;
  color: #999;
}

legend {
  @extend h3;
  &+* {
    padding-top: 30px;
  }
}

.form-actions {
  margin-bottom: 50px;
}

// FORM OVERRIDES
.input.post_body {
  @extend %full-width;
}
form.new_post, form.edit_post {
  fieldset {
    margin: 0;
  }
}
