article.post {
  @extend %card;
  margin: 40px 0;

  position: relative;
}

.post-body {
  @extend %card-body;
  @extend %collapse;
  @extend %text-formatting;
  padding: 10px 30px 30px 30px;

  @include on-desktop {
    padding-left: 60px;
  }
}

.post-reference {
  @extend %card-body;
  @extend %collapse;
  @extend %text-formatting;
  @extend %small;

  padding: 30px;

  max-height: 300px;
  overflow: auto;
  position: relative;

  $c: #f8f8f8;
  background-color: $c;
  @include background(linear-gradient(top, $c, $c 280px, darken($c, 5%) 298px, darken($c, 10%)));

  >p:first-child {
    @extend %light;
    @extend %reset-links;
  }

  &:before, &:after {
    @extend .fa;
    position: absolute;
    font-size: 30px;
    color: #ddd;
    @include on-mobile {
      display: none;
    }
  }

  &:before {
    content: "\f10d";
    left: 15px;
    top: 60px;
  }

  &:after {
    content: "\f10e";
    right: 15px;
    bottom: 15px;
  }

  @include on-desktop {
    padding-left: 60px;
  }

  &+.post-body {
    padding-top: 30px;
  }
}

.post-information {
  padding-left: 50px;

  li {
    display: inline;
    margin-right: 20px;
  }

  @include on-mobile {
    padding-left: 70px;
  }
}

.post-avatar {
  position: absolute;
  z-index: 5;
  top: -10px; left: -10px;

  @include on-mobile {
    left: 10px;
  }

  img {
    width: 60px;
    height: 60px;
    @extend %box-shadow;
  }
}

ul.post-actions {
  @extend %card-actions;
  @extend %reset-links;

  li {
    display: inline;
    margin-right: 20px;
  }

  a {
    text-transform: uppercase;
    color: #999;
  }
  a:hover {
    color: inherit;
  }

  @include on-desktop {
    padding-left: 60px;
  }
}
