article.post {
  margin: 40px 0 70px 0;
  position: relative;
}

.post-body {
  @extend %collapse;
  @extend %text-formatting;
}

.post-reference {
  margin-bottom: 25px;
  position: relative;

  &:before {
    @extend .fa;
    content: "\f10d";
    position: absolute;
    left: -13px;
    top: 35px;
    color: #ccc;
    font-size: 20px;
    z-index: 1;

    visibility: hidden;
    @include on-desktop {
      visibility: visible;
    }
  }
}

.post-reference-info {
  @extend p;
  @extend %light;
}

.post-reference-body {
  @extend %collapse;
  @extend %text-formatting;
  @extend %small;

  max-height: 240px;
  overflow: auto;
  position: relative;
  padding: 15px 20px;

  // background
  $c: #f8f8f8;
  background-color: $c;
  @include background(linear-gradient(top, $c, $c 220px, darken($c, 5%) 238px, darken($c, 10%)));
}

article.post>header {
  @include clearfix;
  margin-bottom: 1em;
}

.post-avatar {
  @include float-left;
  width: 60px;
  margin-right: 20px;

  img {
    width: 60px;
    height: 60px;
    @extend %box-shadow;
  }
}

.post-information {
  @extend %reset-links;
  @extend %light;
  @extend %small;
  li { line-height: 30px; }
  a:hover { color: $color-text; }
}

.post-author {
  @include float-left;
  margin-right: 20px;
}

.post-author, .post-permalink, .post-time {
  &:before {
    @extend .fa;
    width: 20px;
    color: #bbb;
  }
}

.post-author:before {
  content: "\f007";
}

.post-permalink:before {
  content: "\f0f6";
}

.post-time:before {
  content: "\f017";
}

ul.post-actions {
  @extend %reset-links;
  margin-top: 20px;

  li {
    display: inline;
    margin-right: 20px;
  }

  a {
    text-transform: uppercase;
    color: #999;
  }
  a:hover {
    color: inherit;
  }
}

li.post-reply-link a, li.post-edit-link a {
  &:before {
    @extend .fa;
    width: 25px;
    opacity: 0.5;
  }
}

li.post-reply-link a {
  @extend .fa-reply;
}

li.post-edit-link a {
  @extend .fa-edit;
}
