article.post {
  position: relative;

  &.pants-post {
    margin: 40px 0;
  }
  &.pants-like {
    @extend %light;
  }
}

article.post>header {
  @include clearfix;
  margin-bottom: 10px;
}

// POST AVATAR

.post-avatar {
  @include float-left;
  width: 60px;
  margin-right: 20px;
}


// POST INFORMATION

.post-information {
  @extend %reset-links;
  @extend %light;
  @extend %small;
  li { line-height: 20px; }
  a:hover { color: $color-text; }
}

.post-author {
  color: $color-text;
  font-weight: bold;
}

.post-author, .post-time, .post-number-of-replies a, .post-number-of-likes a {
  &:before {
    @extend .fa;
    width: 20px;
    color: #bbb;
  }
}

.post-author:before {
  content: "\f007";
}

.post-time:before {
  content: "\f017";
}

.post-number-of-replies a:before {
  @extend .fa-reply;
}

.post-number-of-likes a:before {
  @extend .fa-heart;
}


@media only screen and (min-width: 1000px) {
  article.post>header {
    margin-bottom: 15px;
  }
  .post-avatar {
    position: absolute;
    left: -80px;
  }
  ul.post-information li {
    display: inline;
    margin-right: 20px;
    line-height: 20px;
  }
}


// POST TITLE (is invisible because we really just want the p-name mf2 markup.)
.post-title {
  display: none;
}

// POST BODY

.post-body {
  @extend %collapse;
  @extend %text-formatting;
}

// POST REFERENCE

.post-reference {
  @extend %light;
  @extend p;
  @extend %text-formatting;
  a { color: #999; }
}


// POST ACTIONS

ul.post-actions {
  @extend %reset-links;
  @extend %small;
  margin-top: 20px;
  color: #999;
  text-align: right;
  opacity: 0.4;
  font-weight: bold;

  li {
    display: inline;
    margin-right: 10px;

    a:before {
      @extend .fa;
      width: 20px;
      margin-right: 5px;
    }
  }

  a {
    colo: inherit;
  }
  a:hover {
    color: $color-text;
  }
}

li.post-reply-link a {
  @extend .fa-reply;
}

li.post-like-link a {
  @extend .fa-heart;
}

li.post-edit-link a {
  @extend .fa-edit;
}

li.post-hide-link a {
  @extend .fa-ban;
}

li.post-add-friend-link a {
  @extend .fa-plus-square;
}

.post:hover {
  .post-actions {
    opacity: 1;
  }
}


// PINGS & REPLIES

.post-replies {
  margin: 3em 0;
}

.ping {
  margin: 1em 0;
}

.ping-time {
  @extend %light;
}
