%collapse {
  >*:first-child { margin-top: 0 }
  >*:last-child  { margin-bottom: 0 }
  >legend:first-child+* { margin-top: 0 }
}

%container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

  @include on-mobile {
    margin-left: 10px;
    margin-right: 10px;
  }
}

%small {
  font-size: 85%;
}

%light {
  color: $color-light;
}

%reset-links {
  a {
    color: inherit;
    text-decoration: inherit;
  }
}

%hover-links {
  a:hover {
    text-decoration: underline;
  }
}

%box-shadow {
  @include box-shadow(rgba(#000, 0.1) 0px 3px 3px);
}

%box-shadow-minor {
  @include box-shadow(rgba(#000, 0.1) 0px 2px 2px);
}

%nav-text {
  font-size: 120%;
  text-transform: uppercase;
  color: $color-light;
}

%slanted {
  @include border-radius(10px 0);
}

%slanted-animated {
  @extend %slanted;
  @include transition(border-radius 100ms ease-out);
  &:hover {
    @include border-radius(0);
  }
}

%note {
  @extend p;
  @extend %slanted;
  @extend %box-shadow-minor;
  background-color: #f8f8f8;
  padding: 20px;
}

%button {
  @extend %box-shadow-minor;
  @extend %slanted-animated;

  border: none;
  background-color: #eee;
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-size: 85%;
  line-height: 35px;
  margin: 0 20px 0 0;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

%button-colored {
  background-color: $color-focus;
  color: #fff;
}

%full-width {
  max-width: 100%;
}
