%tabs {
  @extend %reset-links;
  @extend %nav-text;

  li {
    display: inline-block;
    margin-right: 20px;
  }

  li.active {
    color: #555;
    border-bottom: 3px solid $color-focus;
  }

  a:hover {
    color: #555;
  }
}
