// The following will apply to the entire site.

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $color-focus;
}

strong { font-weight: bold; }
em { font-style: italic; }

.error { color: red }


// HEADINGS

%heading {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
  color: $color-text;
}

h1, h2, h3, h4, h5, h5 {
  @extend %heading;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 120%;
}


// The following prototype is mixed into elements that display
// article text.

%text-formatting {
  h1, h2, h3, h4, h5, h6 {
    @extend %heading;
    display: table;
    background-color: mix($color-text, $color-background, 10%);
    padding: 3px 15px;

    // reset styling of hashtags
    a.hashtag {
      background-color: transparent;
      padding: 0;
    }
  }

  h1 {
    text-transform: uppercase;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 25px;
  }

  li {
    @extend p;
  }

  a.hashtag {
    color: $color-text;
    background-color: $color-very-light;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    @include border-radius(3px);
  }

  a.mention {
    @extend a.hashtag;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    padding-left: 20px;
    color: $color-light;
  }

  sup {
    @extend %small;
    @extend %reset-links;
    color: $color-focus;
    vertical-align: super;
  }


  .footnotes {
    @extend %small;
    @extend %light;
    margin-top: 40px;
    border-top: 1px dotted #eee;
    color: #999;
  }

  a.reversefootnote {
    text-decoration: none;
  }

  p.lead {
    font-size: 150%;
    margin: 2em 0;
  }

  // CODE

  // coderay code blocks
  %code {
    font: 14px Monaco,Consolas,"Lucida Console","Courier New",monotype;
    color: #555;
    overflow: auto;
  }

  code {
    @extend %code;
  }

  .CodeRay .code pre {
    @extend %code;
    .line-numbers { display: none; }
    padding: 10px;
  }

// code blocks without coderay
  pre>code {
    @extend .CodeRay;
    display: block;
    padding: 10px;
  }
}
