.avatar {
  img {
    @extend %slanted-animated;
    @extend %box-shadow;

    background-color: #eee;
    width: 60px;
    height: 60px;
  }
}


.users {
  margin: 40px 0;
  @extend %row;

  .user {
    @extend %column;
  }
}

.user {
  @extend %reset-links;
  height: 60px;
  padding: 0 0 0 80px;
  position: relative;
  margin-bottom: 10px;

  a.unfriend-link { visibility: hidden }

  &:hover {
    a.unfriend-link { visibility: visible }
  }
}

.user-image {
  @extend .avatar;
  position: absolute;
  top: 0; left: 0;
}

.user-name, .user-info {
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;

  &:before {
    @extend .fa;
    width: 20px;
    color: #ddd;
  }
}

.user-name {
  @extend .fa-user;
}

.user-info {
  @extend .fa-globe;
  @extend %light;
}

.bookmarklets {
  a { @extend %button; }
}
