- if @timeline_entries.any?
  .note These posts have been pushed to you from new followers.
        How about following them back? You can also #{link_to "hide all of these posts", incoming_network_path(until: @timeline_entries.first.created_at.to_i), method: 'delete', data: { confirm: "Are you sure?" }}.

  = render 'more'
