default: &defaults
  push_api_key: "<%= ENV['APPSIGNAL_PUSH_API_KEY'] %>"
  name: "Pants"

  # The cuttoff point in ms above which a request is considered slow, default is 200
  # slow_request_threshold: 200

# Configuration per environment, leave out an environment or set active
# to false to not push metrics for that environment.
development:
  <<: *defaults
  active: true

production:
  <<: *defaults
  active: true
