@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import "compass";
@import "compass/reset";

$color-background: #fff;
$color-text: #444;
$color-light: #999;
$color-link: #0076c9;

%font-default {
  font: 17px/1.5 'Roboto', sans-serif;
}

%reset-links {
  a {
    color: inherit;
    text-decoration: inherit;
  }
}

@mixin on-mobile {
  @media only screen and (max-width: 799px) {
    @content;
  }
}

@mixin on-desktop {
  @media only screen and (min-width: 800px) {
    @content;
  }
}


// set up border-box sizing model
* { @include box-sizing(inherit); }
html, body { @include box-sizing(border-box); }

body {
  @extend %font-default;
  background-color: $color-background;
  color: $color-text;

  @include on-mobile {
    font-size: 16px;
  }
}


// LAYOUT

#main {
  margin: 20px auto 20px auto;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;

  @include on-desktop {
    padding-left: 80px;
    margin: 80px auto 100px auto;
  }
}

// BASICS
a {
  color: $color-link;
}

p {
  margin: 1em 0;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.light {
  color: $color-light;
}

small {
  font-size: 90%;
}

.error {
  color: red;
}

// FLASHES
.flash.notice {
  color: green;
}

.flash.alert {
  color: red;
}

// TEXT FORMATTING
%text-formatting {
  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 25px;
  }

  li {
    @extend p;
  }

  a.hashtag {
    color: $color-text;
    background-color: #f2f2f2;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    @include border-radius(3px);
  }

  img {
    max-width: 100%;
  }

  code {
    font: 14px Monaco,Consolas,"Lucida Console","Courier New",monotype;
    color: #b33;
  }
}

// NAVIGATION LISTS
ul.navigation {
  @extend p;

  li {
    display: inline;
    margin-right: 0.5em;
    &:before {
      content: "\00B7";
      margin-right: 0.5em;
    }
  }

  li:first-child {
    &:before {
      display: none;
    }
  }
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
  @extend %reset-links;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}

h1, h2 {
  color: #000;
  border-bottom: 1px solid #000;
}

// POSTS
div.post {
  margin: 1em 0 3em 0;
  position: relative;
  min-height: 60px;

  @include on-mobile {
    margin-left: 70px;
  }
}

div.post-body {
  @extend %text-formatting;
}

div.post-time {
  @extend %reset-links;

  position: absolute;
  left: -70px;
  width: 50px;
  text-align: center;
}

div.post-info {
  @extend %reset-links;
}

ul.post-meta {
  @extend .light;
  @extend small;
  @extend %reset-links;
  @extend ul.navigation;
}

div.post-replies {
  margin-top: 80px;
  padding-left: 150px;
}

div.post-quote {
  background-color: #f8f8f8;
  padding: 1px 20px;
  border-left: 10px solid #eee;
  max-height: 200px;
  overflow: scroll;
}

// TIMELINE ENTRIES

div.timeline_entry {
  &.from-other {
    .avatar {
      opacity: 0.3;
      @include transition(opacity 150ms ease-out);
    }
    .avatar:hover {
      opacity: 1;
    }
  }
}

// FORMS
input, textarea, select {
  @extend %font-default;
}

label {
  display: block;
}

textarea, input[type="text"] {
  width: 100%;
}

// NAVIGATION

ul[role="navigation"] {
  @extend p;
  @extend %reset-links;
  @extend .light;
  @extend ul.navigation;

  li:first-child {
    font-weight: bold;
    color: $color-text;
  }
}

// FRIENDSHIPS / USERS

div.friendship {
  @extend p;
}
div.user-name {
  display: inline;
}
div.user-info {
  @extend %reset-links;
  color: $color-light;
}

// AVATARS

a.avatar {
  img {
    background-color: #eee;
    width: 50px;
    height: 50px;
    @include border-radius(30% 0);
    @include transition(border-radius 150ms ease-out);
  }
}
a.avatar:hover {
  img {
    @include border-radius(0);
  }
}

div.avatars {
  @include clearfix;
  .avatar {
    @include float-left;
    margin: 0 8px 8px 0;
  }
}
