@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import "compass";
@import "compass/reset";

%font-default {
  font: 17px/24px 'Roboto', sans-serif;
}

// set up border-box sizing model
* { @include box-sizing(inherit); }
html, body { @include box-sizing(border-box); }

body {
  @extend %font-default;
  background-color: #fff;
  color: #444;
}


// LAYOUT

#main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 400px;
  max-width: 800px;
}

// BASICS
p {
  margin: 1em 0;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}


// POSTS
div.post {
  margin: 3em 0;
}

div.post-time {
  color: #999;
}


// FORMS
input, textarea, select {
  @extend %font-default;
}

label {
  display: block;
}

textarea, input[type="text"] {
  width: 100%;
}
