@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import "compass";
@import "compass/reset";

$color-background: #fff;
$color-text: #444;
$color-light: #999;
$color-link: #0076c9;

%font-default {
  font: 17px/24px 'Roboto', sans-serif;
}

%reset-links {
  a {
    color: inherit;
    text-decoration: inherit;
  }
}

// set up border-box sizing model
* { @include box-sizing(inherit); }
html, body { @include box-sizing(border-box); }

body {
  @extend %font-default;
  background-color: $color-background;
  color: $color-text;
}


// LAYOUT

#main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 400px;
  max-width: 800px;
  padding-left: 80px;
  padding-right: 20px;
}

// BASICS
a {
  color: $color-link;
}

p {
  margin: 1em 0;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.light {
  color: $color-light;
}

.error {
  color: red;
}

// FLASHES
.flash.notice {
  color: green;
}

.flash.alert {
  color: red;
}

// TEXT FORMATTING
%text-formatting {
  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 25px;
  }

  li {
    @extend p;
  }

  a.hashtag {
    color: $color-text;
    background-color: #f2f2f2;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    @include border-radius(3px);
  }

  img {
    max-width: 100%;
  }

  code {
    font: 14px Monaco,Consolas,"Lucida Console","Courier New",monotype;
    color: #b33;
  }
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
  @extend %reset-links;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}

h1, h2 {
  color: #000;
  border-bottom: 1px solid #000;
}

// POSTS
div.post {
  @extend %text-formatting;
  margin: 1em 0 3em 0;
  position: relative;
}

div.post-time {
  @extend %reset-links;
  position: absolute;
  left: -80px;
  width: 60px;
  text-align: center;
}

div.post-info {
  @extend %reset-links;
}

div.post-source {
  @extend .light;
  @extend %reset-links;
}

// FORMS
input, textarea, select {
  @extend %font-default;
}

label {
  display: block;
}

textarea, input[type="text"] {
  width: 100%;
}

// NAVIGATION

ul[role="navigation"] {
  @extend p;
  @extend %reset-links;
  color: $color-light;

  li {
    display: inline;
    margin-right: 10px;
    &:before {
      content: "\00B7";
      margin-right: 10px;
    }
  }

  li:first-child {
    font-weight: bold;
    color: $color-text;
    &:before {
      display: none;
    }
  }

}

// FRIENDSHIPS / USERS

div.friendship {
  @extend p;
}
div.user-name {
  display: inline;
}
div.user-info {
  @extend %reset-links;
  color: $color-light;
}

// AVATARS

a.avatar {
  img {
    background-color: #eee;
    width: 50px;
    height: 50px;
    @include border-radius(30% 0);
    @include transition(border-radius 150ms ease-out);
  }
}
a.avatar:hover {
  img {
    @include border-radius(0);
  }
}
